In [1]:
#importing the libraries
from sklearn.cluster import KMeans
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from matplotlib import pyplot as plt
from sklearn.datasets import load_iris

In [2]:
iris = load_iris()

In [3]:
#loading the dataset 
df = pd.DataFrame(iris.data,columns=iris.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [23]:
df['flower'] = iris.target
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),flower
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [24]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),flower
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [25]:
X=df.drop('flower', axis='columns')

In [26]:
y=df.flower

In [27]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=0)

In [28]:
len(X_train)

120

In [29]:
len(X_test)

30

In [30]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [32]:
model.fit(X_train,y_train)
#DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
           # max_features=None, max_leaf_nodes=None,
           # min_impurity_split=1e-07, min_samples_leaf=1,
           # min_samples_split=2, min_weight_fraction_leaf=0.0,
           # presort=False, random_state=None, splitter='best')

DecisionTreeClassifier()

In [33]:
model.score(X_test,y_test)

1.0

In [39]:
y_test[0:10]

114    2
62     1
33     0
107    2
7      0
100    2
40     0
86     1
76     1
71     1
Name: flower, dtype: int32

In [40]:
model.predict(X_test[0:10])

array([2, 1, 0, 2, 0, 2, 0, 1, 1, 1])

In [47]:
model.predict_proba(X_test[:10])

array([[0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.]])